@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Ubuntu:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
}

.carousel-caption {
  bottom: 200px;
}

.carousel-caption h4 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 65px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25-px;
}

.carousel-caption p {
  font-size: 24px;
  margin: auto;
  width: 70%;
  line-height: 1.5;
  margin-top: 20px;
}

p.description-text {
  font-size: 24px;
  margin: auto;
  width: 70%;
  line-height: 1.5;
  color: rgb(255, 255, 255);
  background-color: rgba(175, 173, 173, 0.6);
  padding: 10px 20px;
  border-radius: 7px;
}

.carousel-caption .more-info a {
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgba(69, 145, 109, 0.9);
  padding: 10px 30px;
  display: inline-block;
  color: white;
  border-radius: 20px;
  margin-top: 20px;
}


.navbar-light .navbar-nav .nav-link {
  padding: .5rem 1rem;
  color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: rgb(161, 156, 156);
}

.navbar-nav a {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
}

a.navbar-brand.logo {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
  color: #d6409d;
}

.logo-img {
  width: 150px;
  margin-left: -40px;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: .3;
  background-color: white;
}

.w-100 {
  height: 100vh;
}

.bg-img-slide-1 {
  background-image: url('./img/slide-1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-img-slide-2 {
  background-image: url('./img/slide-2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-img-slide-3 {
  background-image: url('./img/slide-3.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width:577px) and (max-width: 800px) {
  a.navbar-brand.logo {
    font-size: 40px;
  }

  .carousel-caption h4 {
    font-size: 20px;
  }
}